# See https://docs.docker.com/build/concepts/context/#dockerignore-files for more about ignoring files.
# This should be very similar to the .gitignore file

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/test-results/

# Playwright
/playwright-report/
/playwright/.cache/

# compiled translation files
src/app/i18n/locales/.dist/

# Auto Generated PWA (Progressive Web App) files
/public/sw.js
/public/workbox-*.js
/public/worker-*.js
/public/sw.js.map
/public/workbox-*.js.map
/public/worker-*.js.map
/public/**/*.webmanifest
