# Example of a .env.local file, which overrides the defaults in the other .env
# files. It is ignored by git, so secrets should be stored in this file.

STATIC_BUILD=false
# Ignore ESLint errors when building
IGNORE_ESLINT_BUILD_ERRORS=false
# Ignore TypeScript errors when building
IGNORE_TS_BUILD_ERRORS=false
I18NEXT_DEBUG=false

# Feature flags
NEXT_PUBLIC_FEAT_LANG_SWITCHER=true
