@import 'tailwindcss';
@plugin "@tailwindcss/typography";
/* A workaround for fixing "Unknown at rule: @property" error
 * Solution from: https://github.com/saadeghi/daisyui/issues/3882#issuecomment-3382480890
 * This may be removed and replaced if the issue is resolved in the future.
 */
@plugin "daisyui" {
  exclude: properties;
}
/* @plugin "daisyui"; */

@plugin "daisyui/theme" {
  name: "duck_dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";

  /* Color names from: https://colorkit.co/color-picker/ */

  /* Night Rider */
  --color-base-100: #332d2d;
  --color-base-200: #2b2525;
  --color-base-300: #1e1919;
  --color-base-content: #fef6f6;

  /* Teal Me No Lies */
  --color-primary: #0ebd9d;
  --color-primary-content: #00160e;

  /* Candy Floss */
  --color-secondary: #eaa3e7;
  --color-secondary-content: #1d001d;

  /* Sail to the Sea */
  --color-accent: #98bbff;
  --color-accent-content: #001047;

  /* Chocolate Pretzel */
  --color-neutral: #635050;
  --color-neutral-content: #fffcfc;

  /* Glitter Lake */
  --color-info: #4caffa;
  --color-info-content: #000b26;

  /* Pistachio */
  --color-success: #9abd78;
  --color-success-content: #031000;

  /* Oh Em Ghee */
  --color-warning: #e3bf1e;
  --color-warning-content: #3b2c00;

  /* Melondrama */
  --color-error: #e67b68;
  --color-error-content: #1c0000;

  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.8rem;

  --size-selector: 0.25rem;
  --size-field: 0.3rem;

  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "duck";
  default: true;
  prefersdark: false;
  color-scheme: "light";

  /* Color names from: https://colorkit.co/color-picker/ */

  /* Night Rider - lightened to near white */
  --color-base-100: #fef6f6;
  --color-base-200: #f1e9e9;
  --color-base-300: #e0d8d8;
  --color-base-content: #1a1415;

  /* Philodendron */
  --color-primary: #076554;
  --color-primary-content: #ffffff;

  /* Notcturn Red */
  --color-secondary: #804561;
  --color-secondary-content: #fffcff;

  /* Frosted Blueberries */
  --color-accent: #1346df;
  --color-accent-content: #faffff;

  /* Monkey Island */
  --color-neutral: #523737;
  --color-neutral-content: #fff1f0;

  /* Blue Velvet */
  --color-info: #0b5f82;
  --color-info-content: #faffff;

  /* Forest Empress */
  --color-success: #37630c;
  --color-success-content: #fdffec;

  /* Oh Em Ghee */
  --color-warning: #e3bf1e;
  --color-warning-content: #3b2c00;

  /* Crimson Velvet Sunset */
  --color-error: #ad1f00;
  --color-error-content: #fffefe;

  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.8rem;

  --size-selector: 0.25rem;
  --size-field: 0.3rem;

  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@custom-variant dark (&:where([data-theme=duck_dark], [data-theme=duck_dark] *));

@theme {
  --font-sans: var(--font-noto-sans), sans-serif;
  --font-display:
    var(--font-noto-sans-display), var(--font-noto-sans), sans-serif;
  --font-mono: var(--font-noto-sans-mono), monospace;
  /* --font-emoji: var(--font-noto-color-emoji); */
  /* --font-sans-jp: 'Noto Sans', 'Noto Sans JP', sans-serif; */
  /* --font-display-jp:
    'Noto Sans Display', 'Noto Sans', 'Noto Sans JP', sans-serif; */

  /* This should be set to whatever the padding of container for Daisy UI Toast component.
   * The padding of the container for the Daisy UI Toast component is 1rem by default.
   */
  --viewport-padding: 1rem;
  --animate-toast-hide: toastHide 100ms ease-in;
  --animate-toast-slide-in-from-right: toastSlideInFromRight 150ms
    cubic-bezier(0.16, 1, 0.3, 1);
  --animate-toast-slide-in-from-left: toastSlideInFromLeft 150ms
    cubic-bezier(0.16, 1, 0.3, 1);
  --animate-toast-swipe-out-to-right: toastSwipeOutToRight 100ms ease-out;
  --animate-toast-swipe-out-to-left: toastSwipeOutToLeft 100ms ease-out;

  @keyframes toastHide {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes toastSlideInFromRight {
    from {
      transform: translateX(calc(100% + var(--viewport-padding)));
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes toastSlideInFromLeft {
    from {
      transform: translateX(calc(0em - 100% - var(--viewport-padding)));
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes toastSwipeOutToRight {
    from {
      transform: translateX(var(--radix-toast-swipe-end-x));
    }
    to {
      transform: translateX(calc(100% + var(--viewport-padding)));
    }
  }
  @keyframes toastSwipeOutToLeft {
    from {
      transform: translateX(var(--radix-toast-swipe-end-x));
    }
    to {
      transform: translateX(calc(0em - 100% - var(--viewport-padding)));
    }
  }
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-display;
  }

  /* [lang="jp"] {
    @apply font-sans-jp;
  }

  [lang="jp"] h1,
  [lang="jp"] h2,
  [lang="jp"] h3,
  [lang="jp"] h4,
  [lang="jp"] h5,
  [lang="jp"] h6 {
    @apply font-display-jp;
  } */
}

.label {
  /* Same color as prose body text */
  color: rgb(from var(--color-base-content) r g b / 80%);
  white-space: normal;
}

.btn {
  height: auto;
  line-height: var(--leading-snug);
  min-height: var(--size);
}
